@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");

body {
  font-size: 14px;
}

@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */
@layer components {
  .input-field {
    @apply block w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
  }

  .primary-btn {
    @apply inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm cursor-pointer hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }

  .secondary-btn {
    @apply inline-flex justify-center px-4 py-2 text-sm font-medium text-indigo-600 border border-transparent rounded-md shadow-sm cursor-pointer bg-indigo-50 hover:bg-indigo-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }

  .text-select-right {
    text-align-last: right;
  }

  #root-body .h-focus-full-2:focus {
    height: 200%;
  }

  #root-body .quote code {
    @apply text-red-600 bg-gray-200 rounded;
  }

  #root-body  {
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    user-select: none;
  }
  #drag-title {
  -webkit-user-select: none;
    user-select: none;
  -webkit-app-region: no-drag;
}

  .draggable-containers {
    -webkit-user-select: none;
    user-select: none;
  -webkit-app-region: drag;
}

  /* #root-body {
    :not(input):not(textarea),
    :not(input):not(textarea)::after,
    :not(input):not(textarea)::before {
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
    }
    input, button, textarea, :focus {
        outline: none;
    }

    a:not([draggable=true]), img:not([draggable=true]) {
        -webkit-user-drag: none;
        user-drag: none;
    }
    a[href^="http://"],
    a[href^="https://"],
    a[href^="ftp://"] {
        -webkit-user-drag: auto;
        user-drag: auto;
    }
  } */
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
